<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3 class="tituloDivs">Entrada</h3>
                <div class="Div">
                    <div class="labelsEntradas col-6">
                        <label class="labelEntrada">Nombre:</label>
                        <label class="labelEntrada">Cantidad compradores:</label>
                        <label class="labelEntrada">Tarjeta Cinepolis:</label>
                        <label class="labelEntrada">Cantidad de boletos:</label>
                    </div>
                    <div class="inputsEntradas col-6" id="holo">
                        <input [(ngModel)]="nombre" type="text" class="form-control inputEntrada">
                        <input [(ngModel)]="compradores" type="number" class="form-control inputEntrada">
                        <mat-radio-group [(ngModel)]="opciones">
                            <mat-radio-button value="1">Si</mat-radio-button>
                            <mat-radio-button value="0">No</mat-radio-button>
                        </mat-radio-group>
                        <input [(ngModel)]="numBoletos" type="number" class="form-control inputEntrada">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h3 class="tituloDivs">Salida</h3>
                <div class="Div">
                    <div class="labelsEntradas col-6">
                        <label class="labelEntrada">Valor a pagar:</label>
                    </div>
                    <div class="inputsEntradas col-6">
                        <input [(ngModel)]="totalPagar" type="text" class="form-control inputEntrada">
                    </div>
                </div>
            </div>
            <div class="col-12 divInferior">
                <div class="col-6">
                    <h3 class="tituloDivs">Acciones</h3>
                    <div class="Div">
                        <div class="btnAcciones">
                            <button (click)="procesarCompra()" mat-raised-button>Procesar</button>
                            <button (click)="recargar()" mat-raised-button >Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
