<div class="row">
    <div class="col-6">
        <div class="mb-3 row">
            <label for="num1" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="num1" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="num2" class="col-sm-2 col-form-label">Cantidad de compradores:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="num2">
            </div>
        </div>
        <div class="mb-3 row">
            <h3>Tarjeta Cinepolis</h3>
            <input type="radio" id="si" name="tarjetaCinepolis" value="HTML">
                <label for="si">Si</label><br>
            <input type="radio" id="no" name="tarjetaCinepolis" value="CSS">
                <label for="no">No</label><br>
       <!-- <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
        </div>-->
        <div class="mb-3 row">
            <button class="btn btn-primary">Calcular Multiplicación</button>
        </div>
    </div>
    <div class="col-6"></div>
    <h2></h2>
</div>
